In [ ]:
from Scripts import (
    prices,
    alvos,
    features,
    split_data,
    machines
)

In [82]:
# dict_prices = prices.Prices.get_setor_B3('IBHB')
df = prices.Prices.get('VALE3.SA')

In [83]:
df = alvos.Alvos(df, p=1).A_BINARIO
df

,Adj Close,Close,High,Low,Open,Volume,variacao_absoluta,alvo_binario
Date,,,,,,,,
2000-01-03,1.537580,3.500000,3.542500,3.500000,3.500000,585600,-0.050000,0.0
2000-01-04,1.500971,3.416666,3.474166,3.416666,3.466666,782400,0.041666,1.0
2000-01-05,1.500971,3.416666,3.416666,3.375000,3.375000,1876800,0.000000,0.0
2000-01-06,1.500971,3.416666,3.500000,3.416666,3.416666,792000,0.083333,1.0
2000-01-07,1.555884,3.541666,3.559166,3.458333,3.458333,5347200,0.083333,1.0
...,...,...,...,...,...,...,...,...
2024-11-18,57.549999,57.549999,57.779999,56.970001,57.090000,14300000,-0.119999,0.0
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,0.119999,1.0
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,0.740002,1.0
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,-0.010002,0.0
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,NaN,NaN

In [112]:
__features__ = [1, 2]

df = features.Features(df).get(__features__)
df

,Adj Close,Close,High,Low,Open,Volume,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,
2000-01-03,1.537580,3.500000,3.542500,3.500000,3.500000,585600,-0.050000,0.0,NaN,NaN
2000-01-04,1.500971,3.416666,3.474166,3.416666,3.466666,782400,0.041666,1.0,-0.083334,-0.033334
2000-01-05,1.500971,3.416666,3.416666,3.375000,3.375000,1876800,0.000000,0.0,0.000000,-0.091666
2000-01-06,1.500971,3.416666,3.500000,3.416666,3.416666,792000,0.083333,1.0,0.000000,0.041666
2000-01-07,1.555884,3.541666,3.559166,3.458333,3.458333,5347200,0.083333,1.0,0.125000,0.041667
...,...,...,...,...,...,...,...,...,...,...
2024-11-18,57.549999,57.549999,57.779999,56.970001,57.090000,14300000,-0.119999,0.0,0.709999,-0.070000
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,0.119999,1.0,0.130001,0.709999
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,0.740002,1.0,-0.060001,-0.299999
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,-0.010002,0.0,0.560001,-0.060001
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,NaN,NaN,-0.010002,0.740002

In [110]:

sd = split_data.SplitData(df, '2016-02-01', '2021-02-01', step_size=365)

train = sd.train()
test = sd.test()
after_test = sd.after_test()

In [ ]:


train

,Adj Close,Close,High,Low,Open,Volume,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,
2017-01-31,18.653193,32.180000,32.950001,32.110001,32.700001,4067300,0.189999,1.0,-0.070000,-0.520000
2017-02-01,19.064743,32.889999,33.509998,32.680000,32.700001,5928500,0.250000,1.0,0.709999,0.000000
2017-02-02,18.931421,32.660000,33.439999,32.410000,32.410000,4024400,-1.389999,0.0,-0.230000,-0.290001
2017-02-03,17.743139,30.610001,32.000000,30.389999,32.000000,6833500,-0.740000,0.0,-2.049999,-0.410000
2017-02-06,17.343178,29.920000,30.770000,29.870001,30.660000,3554600,-0.400000,0.0,-0.690001,-1.340000
...,...,...,...,...,...,...,...,...,...,...
2019-07-23,32.604294,51.759998,52.599998,51.759998,52.400002,11146800,-0.439999,0.0,-0.690002,0.220001
2019-07-24,31.905098,50.650002,51.259998,50.549999,51.090000,25121800,-0.509998,0.0,-1.109997,-1.310001
2019-07-25,31.804314,50.490002,51.119999,50.099998,51.000000,12761900,-0.770000,0.0,-0.160000,-0.090000
2019-07-26,31.640535,50.230000,51.049999,50.180000,51.000000,12604500,-0.040001,0.0,-0.260002,0.000000
2019-07-29,31.659428,50.259998,50.599998,49.799999,50.299999,8462200,-0.160000,0.0,0.029999,-0.700001

In [ ]:
test

,Adj Close,Close,High,Low,Open,Volume,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,
2019-07-15,33.190113,52.689999,52.930000,52.250000,52.459999,20144200,-0.150002,0.0,0.879997,0.000000
2019-07-16,33.416882,53.049999,53.470001,52.790001,53.200001,17393700,-0.300003,0.0,0.360001,0.740002
2019-07-17,33.190113,52.689999,53.119999,52.459999,52.990002,13876700,-0.020000,0.0,-0.360001,-0.209999
2019-07-18,33.127121,52.590000,52.820000,52.230000,52.610001,12217200,-0.090000,0.0,-0.099998,-0.380001
2019-07-19,33.209015,52.720001,53.230000,52.549999,52.810001,11523100,0.270000,1.0,0.130001,0.200001
...,...,...,...,...,...,...,...,...,...,...
2022-01-24,66.463249,83.870003,83.959999,82.080002,83.699997,29040100,0.000000,0.0,-1.040001,-2.770004
2022-01-25,66.613815,84.059998,85.050003,83.050003,84.059998,22490500,-1.599998,0.0,0.189995,0.360001
2022-01-26,66.804008,84.300003,86.559998,83.820000,85.900002,25806800,-0.510002,0.0,0.240005,1.840004
2022-01-27,66.954575,84.489998,85.459999,83.269997,85.000000,20994900,-1.919998,0.0,0.189995,-0.900002
2022-01-28,66.296829,83.660004,86.349998,82.830002,85.580002,28453000,-2.070000,0.0,-0.829994,0.580002

In [ ]:
after_test

,Adj Close,Close,High,Low,Open,Volume,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,
2022-01-31,64.085876,80.870003,82.940002,80.870003,82.940002,31397700,3.809998,1.0,-2.790001,-2.639999
2022-02-01,67.604385,85.309998,85.330002,81.370003,81.500000,24131300,0.290001,1.0,4.439995,-1.440002
2022-02-02,67.984764,85.790001,86.290001,84.720001,85.500000,17489000,-0.550003,0.0,0.480003,4.000000
2022-02-03,67.953056,85.750000,86.779999,85.320000,86.300003,19179400,2.250000,1.0,-0.040001,0.800003
2022-02-04,69.736084,88.000000,88.169998,85.550003,85.750000,24535400,1.979996,1.0,2.250000,-0.550003
...,...,...,...,...,...,...,...,...,...,...
2024-11-18,57.549999,57.549999,57.779999,56.970001,57.090000,14300000,-0.119999,0.0,0.709999,-0.070000
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,0.119999,1.0,0.130001,0.709999
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,0.740002,1.0,-0.060001,-0.299999
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,-0.010002,0.0,0.560001,-0.060001
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,NaN,NaN,-0.010002,0.740002